@import '../../scss/main.scss';
.wrapper{
  margin-top: 100px;
}
.info{
margin: 0px auto 30px;
width: 329px;
color: #FFFFFF;
flex-direction: column;
@include title;
}
.info:not(.login) a {
  border-bottom: none;
  padding-bottom: 0;
}

.info.login {
  margin-top: 60px;
}
.header_logo{
    display: none;
  }
.container {
  background-image: url('../../images/bg-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 1054px; */
  min-width: 360px;
  overflow-x: hidden;
  position: relative;
}

.overlay-image_1 {
  position: absolute;
  top: 117px;
  left: 0;
  width: 43px;
  height: 84px;
}

.overlay-image_2 {
  position: absolute;
  top: 6px;
  right: 0;
  width: 82px;
  height: 91px;
}

.overlay-image_3 {
  position: absolute;
  bottom: -6.6%;
  right: 0;
  width: 79px;
  height: 89px;
}

.form-field {
  position: relative;
  width: 330px;
  height: 56px;
}

.icon-container {
  top: 27%;
  left: 5%;
  z-index: 2;
  position: absolute;
  width: 20px;
  height: 20px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field {
  position: relative;
  z-index: 2;
  border-radius: 6px;
  padding-left: 50px;
  width: 274px;
  height: 50px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: $textColor;
  @include fieldText;
  transition: border-color 0.3s, color 0.3s;
}

.field.select{
  width: 330px;
}
.form-field select option {
@include selectText
}
.field-label {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s;
    color: $textColor;
    @include fieldText;
}

.field:focus + .field-label, .field:not(:placeholder-shown) + .field-label {
    top: 10%;
    color: $labelColor;
    @include label;
}
.field:focus {
  outline: none;
  border-color: rgba(243, 240, 240, 0.925);
  color: $textColor;
}
.error-message{
color: #b49d8f;
font-size: 12px;
}
.select.isOpen {
  appearance: select-expanded;
}
.hidden {
  display: none;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.field::placeholder {
  color: transparent;
}

.field:-ms-input-placeholder {
  color: transparent;
}

.field::-ms-input-placeholder {
  color: transparent;
}
.checkbox-field{
    width: 300px;
    display: flex;
    color: $textColor;
    margin-bottom: 50px;
}
.checkbox-field input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid $labelColor;
  border-radius: 3px;
  position: relative;
  top: 7px;
  margin-right: 11px;
}

.checkbox-field input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url('../../images/Vector.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

.checkbox-field input[type="checkbox"]:checked {
  background-color: $labelColor;
}

.checkbox-field input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
@media (min-width: 768px) {
  .wrapper_btn{
    width: 680px;
  }
  .info.login {
  margin-top: 120px
}
  .header_logo{
    display: block;
    margin: 0 auto 30px;
  }
  .container {
  background-image: url('../../images/bg-cover2.jpg');
  min-height: 100vh;
}
.overlay-image_1,.overlay-image_2,.overlay-image_3{
  display: none;
}

}
@media (min-width: 1024px) {
.wrapper{
  max-width: 690px;
  margin: 100px auto 0;
}
  .info.login {
  margin-top: 170px
}
}