body {
  margin: 0;
  font-family: Rubik;
}
a{
  text-decoration: none;
  border-bottom: 1px solid #67D9B7;
  padding-bottom: 2px;
  color: #67D9B7;
}
p{
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
